#navbar {
  background-color: #f2f1ec;
}

#sidebar-content {
  background-color: #f2f1ec;
}

body {
  background-color: #f2f1ec;
}

#almond-background-color {
  background-color: transparent;
}

#content-container {
  background-color: #f5f4f1;
  border-color: #d9d9d9;
}

[data-page-href="/index"] {
  background-image: radial-gradient(circle, rgba(200, 197, 190, 0.4) 2px, transparent 2px);
  background-size: 40px 40px;
  background-position: 25px 30px;
}

[data-rmiz-modal-img] {
  border-radius: 1rem;
}

.card-link img {
  transition: transform 0.2s;
}

.card-link:hover img {
  transform: scale(1.05);
}
