#navbar {
  background-color: #f2f1ec;
}

#sidebar-content {
  background-color: #f2f1ec;
}

body {
  background-color: #f2f1ec;
}

#content-container {
  background-color: #f5f4f1;
  border-color: #f2f1ec;
}
