#navbar {
  background-color: #f9f7f2;
}

#sidebar-content {
  background-color: #f9f7f2;
}

body {
  background-color: #f9f7f2;
}

#almond-background-color {
  background-color: transparent;
}

#content-container {
  background-color: #fdfcf9;
  border-color: #e6e2d8;
}

#content-container img {
  border-color: #dbd6ca;
}

[data-rmiz-modal-img] {
  border-radius: 1rem;
}

.card-link img {
  transition: transform 0.2s;
}

.card-link:hover img {
  transform: scale(1.05);
}
