#navbar {
  background-color: #f2f1ec;
}

#sidebar-content {
  background-color: #f2f1ec;
}

body {
  background-color: #f2f1ec;
}

#almond-background-color {
  background-color: transparent;
}

#content-container {
  background-color: #f5f4f1;
}
